body{
    font-family: "Roboto", sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}


.nav{
    background-color: #fffaf7;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 4.5rem;
    position:fixed;
    top: 0;

}

.logo{
    display: flex;
    justify-self: start;
    align-items: center;

}

.logo span {
    color: #ff6d38;
}


.menu {
    gap: 5rem;
}
.menu, .menu a {
    display: flex;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
  }

.menu a {
    text-decoration: none;
    color: #333;

}
.menu li a svg {
    margin: 0.5rem;
}


.menu :hover{
    color: #ff6d38;
}

.donation-btn{
    background-color: #ff6d38;
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    color: white;
    border: none;
    font-weight: bold;
    justify-self: end;
    margin-right: 6rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.donation-btn:hover {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


footer{
    background-color: #333;
    color: white;
}

.orange{
    color: #ff6d38;
    font-family: 'Amatic SC', sans-serif;
}
