:root {
    --primary-color: #fffaf7;
    --secondary-color: #ff6d38;
    --accent-color: #7a78ff;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;
  
    --btn-primary-bg: #333;
    --btn-secondary-bg: #e74c3c;
    --btn-accent-bg: #00a652;
    --btn-primary-hover-bg: #8584ff;
    --btn-secondary-hover-bg: #333;
  
    --font-family-heading: 'Amatic SC', sans-serif;
    --border-radius: 8px;
  
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  
    --section-margin: 2rem 0;
    --container-width: 90%;
  }

/* ---------------Tablette & mobile--------------- */

/* 
@media screen (max-width:1024px){
    
}


@media screen (max-width:768px){
    
} */




a{
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--light-color);
    margin: 0;
    padding: 0;
    padding-top: 6rem; 
}

.btn{
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #333;
    color: var(--primary-color);
}
/* ---------------NAVBAR--------------- */



.nav{
    position: fixed;
    top: 0;
    width: 100%;                
    height: 6rem;
    background: var(--primary-color);
    z-index: 1;
  }
  
  
  #div-nav{
    height: 100%;
    width: 90vw; 
    margin:  auto;         
    padding: 0 2rem; 
    display: grid;
    grid-template-columns: auto 1fr auto;   
    align-items: center;                     
    gap: 1.5rem;
  }
  

  .logo {
    font-size: 2rem;
  }
  .logo span {
    color: var(--secondary-color); 
  } 
  

  .menu { 
    justify-self: center; 
}
  .menu ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu a{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;              
    text-decoration: none;
    color: #1f1f1f;          
    font-weight: 500;
  }

  .menu a:hover{
    color: var(--secondary-color);
  }
  
  #donation-btn{
    justify-self: end;
    padding: .6rem 1.2rem;
    border-radius: 1.6rem;
    background: var(--secondary-color);
    color: white;
    font-weight: 600;
    text-decoration: none;   
    cursor: pointer;
    transition: all 0.3s ease;

  }

  #donation-btn:hover{
    background-color: #e65320; 
    transform: translateY();
  }


/* ---------------HERO HEADER---------------  */

#hero-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url(/images/background.jpg);
    padding: 10rem;
    background-size: cover;
    background-position: center;
    color: var(--light-color);
    text-align: center;
}

#hero-header h1 {
    font-family: 'Amatic SC';
    font-size: 4rem;
}

#hero-header p {
    font-size: 1.1rem ;
    font-weight: 400;
    max-width: 700px;
    margin: auto;
    line-height: 1.8rem;
}


footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}


form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: var(--light-color);
    border-radius: 0.9rem;
    padding: 1.7rem 2rem;
    margin-top: -3.3rem;
    position: relative;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.08);
    max-width: 53rem; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 0;
}

#btn-search{
    grid-column: 3;
    margin-top: 1.2rem;
}

label, #form-two label{
    display: block;
    margin-bottom: 0.3rem;
}

#form-one{
    grid-column: 1;
    justify-self: center;
}

#form-two{
    grid-column: 2;
   justify-self: center;
}

#form-two input, #form-one select{
    padding: 0.7rem 3rem;
    border-radius: 0.2rem;
    padding-left: 0.6rem;
    border: 1px solid #ddd;

}


/* ---------------MAIN SECTION---------------  */

main{
    width: 100%;
}


.text h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    color: var(--heading-color);
}

.text {
    text-align: center;
    max-width: 43rem;
    margin: auto;
    color: #6c6c6c;
    font-weight: 450;
}



/* ---------------PHOTO LAYOUT---------------  */



#grid-container{
    margin:  auto;
    max-width: 90vw;
}

#photo{

    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

#photo figure{
    margin: 0;
}

#photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
}


#one {
    grid-column: 1 ;
    grid-row: span 2;
}

#two  {
    grid-column: 2 ;
}

#three {
    grid-column: 3;
    grid-row: span 2;

}

#four{
    grid-column: 4;
    grid-row: 1;
}

#five {
 grid-column: 1;
}

#six{
    grid-column: 2;
    grid-row: 2/ span 2;
}

#seven {
    grid-column: 3;
}

#eight{
    grid-column: 4;
    grid-row: 2/ span 2;
}

#other-animals {
    margin: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

/* ---------------comment ça marche--------------- */

#section-box{
    background-color: white;
    max-width: 100vw;
    padding: 2rem;
}


#box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
    gap: 1.5rem;
    margin: 4rem 3rem;
}

.box{
    padding: 1rem 2rem;
    box-shadow: var(--shadow-xl);
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
}
.box h1{
    font-size: 3rem;
}

/* ---------------pret à changer--------------- */

#btn-container{
    display: flex;
    margin: 4rem 2rem;
    justify-content: center;
    gap: 1rem;

}

#don-btn{
    background-color: var(--btn-secondary-bg);
    padding: 0.8rem 1.3rem;

}

#benevole-btn{
    background-color: var(--btn-accent-bg);
    padding: 1rem 1.3rem;
}

#btn-adopt{
    padding: 1rem 1.3rem;
}


/* ---------------FOOTER--------------- */



footer{
    display: grid;
    grid-row-start: 1fr 1fr 1fr;
    grid-column-start: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 1.5rem 3rem;
}

#adaopte-footer{
    grid-column: 1;
}

.social-media{
    display: flex;
    gap: 1.5rem;
}

.social-media a {
    background-color:#484848 ;
    display: flex;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-media a:hover{
    background-color: var(--btn-secondary-bg);
    transform: translateY(-0.3rem);
}

#information-footer{
    grid-column: 2;
}

.information-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#information-footer a{
    color: rgb(187, 187, 187);
}

#information-footer a:hover{
    color: white;
}

#contact-footer{
    grid-column: 3;
}



/* ---- message form error---- */

.no-result{

}

/* -----------page j'adopte--------- */


.form-adopte{
    margin: 2rem auto;
}


#result{
    max-width: 90vw;
    display: grid;
    margin: auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

.card {
    position: relative;           
    overflow: hidden;              
    border-radius: 16px;
  }

  .card img {
    display: block;                 
    width: 100%;
    height: 240px;                  
    object-fit: cover;
  }
