:root {
    --primary-color: #fffaf7;
    --secondary-color: #ff6d38;
    --accent-color: #7a78ff;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;
  
    --btn-primary-bg: #333;
    --btn-secondary-bg: #e74c3c;
    --btn-accent-bg: #00a652;
    --btn-primary-hover-bg: #8584ff;
    --btn-secondary-hover-bg: #333;
  
    --font-family-heading: 'Amatic SC', sans-serif;
    --border-radius: 8px;
  
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  
    --section-margin: 2rem 0;
    --container-width: 90%;
  }



body{
    font-family: "Roboto", sans-serif;
    /* background-color: blueviolet; */
    background-color: var(--light-color);
    margin: 0;
    padding: 0;
}


.nav{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 4.5rem;
    position:fixed;
    top: 0;

}

.logo{
    display: flex;
    justify-self: start;
    align-items: center;

}

.logo span {
    color: #ff6d38;
}


.menu {
    gap: 5rem;
}
.menu, .menu a {
    display: flex;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
  }

.menu a {
    text-decoration: none;
    color: var(--heading-color);

}
.menu li a svg {
    margin: 0.5rem;
}


.menu :hover{
    color: var(--secondary-color);
}

#donation-btn{
    background-color: var(--secondary-color);
    color: var(--light-color);
    justify-self: end;
    margin-right: 6rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.btn {
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #333;
    color: var(--primary-color);
}

.donation-btn:hover {
    background-color: var(--btn-primary-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.orange{
    color: #ff6d38;
    font-family: 'Amatic SC', sans-serif;
}

#hero-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url(/images/background.jpg);
    padding: 10rem;
    background-size: cover;
    background-position: center;
    color: var(--light-color);
    text-align: center;
}

#hero-header h1 {
    font-family: 'Amatic SC';
    font-size: 4rem;
}

#hero-header p {
    font-size: 1.1rem ;
    font-weight: 400;
    max-width: 700px;
    margin: auto;
    line-height: 1.8rem;
}


footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}


form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: var(--light-color);
    border-radius: 0.9rem;
    padding: 1.7rem 2rem;
    margin-top: -3.3rem;
    position: relative;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.08);
    max-width: 53rem; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #333;
    font-weight: bold;
}

#btn-search{
    grid-column: 3;
    margin-top: 1.2rem;
}

label, #form-two label{
    display: block;
    margin-bottom: 0.3rem;
}

#form-one{
    grid-column: 1;
    justify-self: center;
}

#form-two{
    grid-column: 2;
   justify-self: center;
}

#form-two input, #form-one select{
    padding: 0.7rem 3rem;
    text-decoration: none;
    border-radius: 0.2rem;
    padding-left: 0.6rem;
    border: 1px solid #ddd;

}


#text h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    color: var(--heading-color);
}

#text {
    text-align: center;
    max-width: 43rem;
    margin: auto;
    color: #6c6c6c;
    font-weight: 450;
}



img{
}

#photo-grid{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
}
